Pods/

.DS_Store
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace/xcshareddata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.app.dSYM.zip

.build/

fastlane/report.xml
fastlane/test_output
fastlane/html